body, html{
    display:flex;
    width: 100%;
    margin:0;
    padding:0;
}

/*Fuentes a utilzar*/
@font-face{
    font-family: 'Baby Doll';
    src: url(../fonts/BabyDoll.otf);
    font-family: 'Helvetica';
    src: url(../fonts/he.otf);

}

/*Estilos menú y botones*/
.menulateral{
    display: flex;
    width:20%;
    height: 100vh;
    background-image: url('../images/menu.jpg');
    background-size: cover;
    align-items: center;
    text-align: center;
}
.menulateral p{
    font-size: 45px;
    color: black;
    font-family: 'Ananda';
}
#containerBotones{
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
    width:100%;
}
button{
    margin-top: 2%;
    width: 70%;
    height: 70px;
    border-radius: 70px;
    background-color: black;
    color: white;
    font-family: 'Ananda';
    font-size: 25px;
}



/*Estilos contenedor de la imagen*/
.colombia , .organizacion, .trivia{
    display:none;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    align-items: center;
}
.contenedorEjercicios{
    width: 85%;
    height: 100vh;
    position: relative;
    flex-direction: column;
    display: flex;
}

/*Estilos hoja colombia*/
.colombia{
    background-image: url('../images/backgground-2.jpg');
}
.colombia, .organizacion{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 26px;
    color: white;
}
.text{
    width: 90%;
    padding: 2%;
    background: rgb(12,135,217);
    background: linear-gradient(90deg, rgba(12,135,217,0.13068977591036413) 0%, rgba(235,234,16,0.13068977591036413) 35%, rgba(185,34,12,0.1334908963585434) 100%);
    border-radius: 15px;
    font-family: 'Helvetica';
    letter-spacing: 1px;
}

/*Estilos hoja organizacion*/
.organizacion{
    background-image: url('../images/background-1.jpg');
}
p{
    font-size: 50px;
    color: white;
    font-family: 'Ananda';
}


/*Estilos hoja trivia*/
.trivia{
    background-image: url('../images/fondo.jpg');
}
a{
    color:white;
}
.questions{
    display: flex;
    justify-content: space-around;
}
.questions p{
  width: 60%;
}

.hoja{
    padding-left: 5%;

}
form p{
    font-size: 16px;
    font-family: 'Helvetica';
    color: aliceblue;
}
#resultado{
    background: aliceblue;
    width: 20%;
}